In [1]:
import pandas as pd
import sys

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
sys.path.append('../src')

# Exploring the dataset

Before anything, we must explore the dataset to see and understand whar variables we have.

In [4]:
data = pd.read_csv('../data/train.csv')

In [5]:
data

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.53,Very Good,G,SI1,63.4,54.0,5.09,5.13,3.24,7.057
1,1,0.41,Ideal,D,SI1,63.0,56.0,4.80,4.75,3.01,6.824
2,2,0.32,Ideal,I,VS2,61.6,56.0,4.37,4.39,2.70,6.107
3,3,0.31,Ideal,H,VVS2,61.2,56.0,4.34,4.37,2.66,6.390
4,4,1.35,Premium,J,VS2,60.5,56.0,7.19,7.12,4.33,8.741
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.52,Premium,D,VS2,61.2,58.0,5.16,5.20,3.17,7.508
40451,40451,0.52,Ideal,F,SI1,62.0,55.0,5.14,5.17,3.19,7.232
40452,40452,0.73,Very Good,D,VS2,63.5,58.0,5.68,5.72,3.62,8.065
40453,40453,0.31,Fair,F,VVS2,56.9,59.0,4.45,4.48,2.54,6.629
40454,40454,0.33,Ideal,H,VS1,60.2,57.0,4.50,4.54,2.72,6.361

- id: only for test & sample submission files, id for prediction sample identification
- `carat`: weight of the diamond
- `cut`: quality of the cut (Fair, Good, Very Good, Premium, Ideal)
- `color`: diamond colour
- `clarity`: a measurement of how clear the diamond is
- depth: total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)
- table: width of top of diamond relative to widest point (43--95)
- `x`: length in mm
- `y`: width in mm
- `z`: depth in mm
- price: price in USD

In [6]:
# NaN values

data.isna().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [7]:
# Variables's dtype

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40455 entries, 0 to 40454
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       40455 non-null  int64
 1   carat    40455 non-null  float64
 2   cut      40455 non-null  object
 3   color    40455 non-null  object
 4   clarity  40455 non-null  object
 5   depth    40455 non-null  float64
 6   table    40455 non-null  float64
 7   x        40455 non-null  float64
 8   y        40455 non-null  float64
 9   z        40455 non-null  float64
 10  price    40455 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 3.4+ MB

In [8]:
# Correlation

data.corr()

,id,carat,depth,table,x,y,z,price
id,1.000000,-0.006186,-0.002316,-0.010840,-0.005675,-0.004038,-0.005649,-0.004040
carat,-0.006186,1.000000,0.025261,0.182888,0.974744,0.950639,0.948895,0.920846
depth,-0.002316,0.025261,1.000000,-0.298380,-0.028188,-0.032829,0.091738,-0.000533
table,-0.010840,0.182888,-0.298380,1.000000,0.197226,0.185480,0.150606,0.159950
x,-0.005675,0.974744,-0.028188,0.197226,1.000000,0.973473,0.966374,0.957934
y,-0.004038,0.950639,-0.032829,0.185480,0.973473,1.000000,0.946517,0.934832
z,-0.005649,0.948895,0.091738,0.150606,0.966374,0.946517,1.000000,0.931147
price,-0.004040,0.920846,-0.000533,0.159950,0.957934,0.934832,0.931147,1.000000

# Handling categorical data

Cut, color and clarity

## Cut

In [9]:
# No need to redefine

data.cut.unique()

array(['Very Good', 'Ideal', 'Premium', 'Good', 'Fair'], dtype=object)

## Color

In [10]:
# Redefining diamonds colors

data.color.unique()

array(['G', 'D', 'I', 'H', 'J', 'F', 'E'], dtype=object)

In [11]:
# Colorless from D to F
# Near colorless from G to J

colorless = ['D', 'E', 'F']
near_colorless = ['G', 'H', 'I', 'J']

In [12]:
from cleaning import new_color

In [13]:
# New colors

new_color = new_color(data.color, colorless, near_colorless)
new_color

      colorless
0            NC
1             C
2            NC
3            NC
4            NC
...         ...
40450         C
40451         C
40452         C
40453         C
40454        NC

[40455 rows x 1 columns]

In [14]:
from cleaning import concating

In [15]:
# To concat

to_concat_one = [data, new_color]

In [16]:
# Joined dataframes

one = concating(to_concat_one)
one

,id,carat,cut,color,clarity,depth,table,x,y,z,price,colorless
0,0,0.53,Very Good,G,SI1,63.4,54.0,5.09,5.13,3.24,7.057,NC
1,1,0.41,Ideal,D,SI1,63.0,56.0,4.80,4.75,3.01,6.824,C
2,2,0.32,Ideal,I,VS2,61.6,56.0,4.37,4.39,2.70,6.107,NC
3,3,0.31,Ideal,H,VVS2,61.2,56.0,4.34,4.37,2.66,6.390,NC
4,4,1.35,Premium,J,VS2,60.5,56.0,7.19,7.12,4.33,8.741,NC
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.52,Premium,D,VS2,61.2,58.0,5.16,5.20,3.17,7.508,C
40451,40451,0.52,Ideal,F,SI1,62.0,55.0,5.14,5.17,3.19,7.232,C
40452,40452,0.73,Very Good,D,VS2,63.5,58.0,5.68,5.72,3.62,8.065,C
40453,40453,0.31,Fair,F,VVS2,56.9,59.0,4.45,4.48,2.54,6.629,C
40454,40454,0.33,Ideal,H,VS1,60.2,57.0,4.50,4.54,2.72,6.361,NC

In [17]:
from cleaning import droping

In [18]:
# To drop

to_drop_one = ['color']

In [19]:
# Droping old color column

two = droping(one,to_drop_one)
two

,id,carat,cut,clarity,depth,table,x,y,z,price,colorless
0,0,0.53,Very Good,SI1,63.4,54.0,5.09,5.13,3.24,7.057,NC
1,1,0.41,Ideal,SI1,63.0,56.0,4.80,4.75,3.01,6.824,C
2,2,0.32,Ideal,VS2,61.6,56.0,4.37,4.39,2.70,6.107,NC
3,3,0.31,Ideal,VVS2,61.2,56.0,4.34,4.37,2.66,6.390,NC
4,4,1.35,Premium,VS2,60.5,56.0,7.19,7.12,4.33,8.741,NC
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.52,Premium,VS2,61.2,58.0,5.16,5.20,3.17,7.508,C
40451,40451,0.52,Ideal,SI1,62.0,55.0,5.14,5.17,3.19,7.232,C
40452,40452,0.73,Very Good,VS2,63.5,58.0,5.68,5.72,3.62,8.065,C
40453,40453,0.31,Fair,VVS2,56.9,59.0,4.45,4.48,2.54,6.629,C
40454,40454,0.33,Ideal,VS1,60.2,57.0,4.50,4.54,2.72,6.361,NC

## Clarity

In [20]:
two.clarity.unique()

array(['SI1', 'VS2', 'VVS2', 'SI2', 'VVS1', 'VS1', 'I1', 'IF'],
      dtype=object)

In [21]:
# In general, from more to less:

IF = ['IF']
VVS = ['VVS1', 'VVS2']
VS = ['VS1', 'VS2']
SI = ['SI1', 'SI2']
I = ['I1']

In [22]:
from cleaning import new_clarity

In [23]:
new_clarity = new_clarity(two.clarity, IF, VVS, VS, SI, I)
new_clarity

      clariness
0            SI
1            SI
2            VS
3           VVS
4            VS
...         ...
40450        VS
40451        SI
40452        VS
40453       VVS
40454        VS

[40455 rows x 1 columns]

In [24]:
# To concat

to_concat_two = [two, new_clarity]

In [25]:
# Joined dataframes

three = concating(to_concat_two)
three

,id,carat,cut,clarity,depth,table,x,y,z,price,colorless,clariness
0,0,0.53,Very Good,SI1,63.4,54.0,5.09,5.13,3.24,7.057,NC,SI
1,1,0.41,Ideal,SI1,63.0,56.0,4.80,4.75,3.01,6.824,C,SI
2,2,0.32,Ideal,VS2,61.6,56.0,4.37,4.39,2.70,6.107,NC,VS
3,3,0.31,Ideal,VVS2,61.2,56.0,4.34,4.37,2.66,6.390,NC,VVS
4,4,1.35,Premium,VS2,60.5,56.0,7.19,7.12,4.33,8.741,NC,VS
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.52,Premium,VS2,61.2,58.0,5.16,5.20,3.17,7.508,C,VS
40451,40451,0.52,Ideal,SI1,62.0,55.0,5.14,5.17,3.19,7.232,C,SI
40452,40452,0.73,Very Good,VS2,63.5,58.0,5.68,5.72,3.62,8.065,C,VS
40453,40453,0.31,Fair,VVS2,56.9,59.0,4.45,4.48,2.54,6.629,C,VVS
40454,40454,0.33,Ideal,VS1,60.2,57.0,4.50,4.54,2.72,6.361,NC,VS

In [26]:
# To drop

to_drop_two = ['clarity']

In [27]:
# Droping old clarity column

four = droping(three,to_drop_two)
four

,id,carat,cut,depth,table,x,y,z,price,colorless,clariness
0,0,0.53,Very Good,63.4,54.0,5.09,5.13,3.24,7.057,NC,SI
1,1,0.41,Ideal,63.0,56.0,4.80,4.75,3.01,6.824,C,SI
2,2,0.32,Ideal,61.6,56.0,4.37,4.39,2.70,6.107,NC,VS
3,3,0.31,Ideal,61.2,56.0,4.34,4.37,2.66,6.390,NC,VVS
4,4,1.35,Premium,60.5,56.0,7.19,7.12,4.33,8.741,NC,VS
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.52,Premium,61.2,58.0,5.16,5.20,3.17,7.508,C,VS
40451,40451,0.52,Ideal,62.0,55.0,5.14,5.17,3.19,7.232,C,SI
40452,40452,0.73,Very Good,63.5,58.0,5.68,5.72,3.62,8.065,C,VS
40453,40453,0.31,Fair,56.9,59.0,4.45,4.48,2.54,6.629,C,VVS
40454,40454,0.33,Ideal,60.2,57.0,4.50,4.54,2.72,6.361,NC,VS

In [33]:
four_back_up = four.copy()

In [36]:
four = four.rename(columns={'colorless': 'color', 'clariness':'clarity'})

In [41]:
four = four[['id', 'carat','cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z', 'price']]
four

,id,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,0.53,Very Good,NC,SI,63.4,54.0,5.09,5.13,3.24,7.057
1,1,0.41,Ideal,C,SI,63.0,56.0,4.80,4.75,3.01,6.824
2,2,0.32,Ideal,NC,VS,61.6,56.0,4.37,4.39,2.70,6.107
3,3,0.31,Ideal,NC,VVS,61.2,56.0,4.34,4.37,2.66,6.390
4,4,1.35,Premium,NC,VS,60.5,56.0,7.19,7.12,4.33,8.741
...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.52,Premium,C,VS,61.2,58.0,5.16,5.20,3.17,7.508
40451,40451,0.52,Ideal,C,SI,62.0,55.0,5.14,5.17,3.19,7.232
40452,40452,0.73,Very Good,C,VS,63.5,58.0,5.68,5.72,3.62,8.065
40453,40453,0.31,Fair,C,VVS,56.9,59.0,4.45,4.48,2.54,6.629
40454,40454,0.33,Ideal,NC,VS,60.2,57.0,4.50,4.54,2.72,6.361

## From categorical to ordinal

In [40]:
five = pd.get_dummies(four)
five

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,cut_Ideal,cut_Premium,cut_Very Good,color_C,color_NC,clarity_I,clarity_IF,clarity_SI,clarity_VS,clarity_VVS
0,0,0.53,63.4,54.0,5.09,5.13,3.24,7.057,0,0,0,0,1,0,1,0,0,1,0,0
1,1,0.41,63.0,56.0,4.80,4.75,3.01,6.824,0,0,1,0,0,1,0,0,0,1,0,0
2,2,0.32,61.6,56.0,4.37,4.39,2.70,6.107,0,0,1,0,0,0,1,0,0,0,1,0
3,3,0.31,61.2,56.0,4.34,4.37,2.66,6.390,0,0,1,0,0,0,1,0,0,0,0,1
4,4,1.35,60.5,56.0,7.19,7.12,4.33,8.741,0,0,0,1,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.52,61.2,58.0,5.16,5.20,3.17,7.508,0,0,0,1,0,1,0,0,0,0,1,0
40451,40451,0.52,62.0,55.0,5.14,5.17,3.19,7.232,0,0,1,0,0,1,0,0,0,1,0,0
40452,40452,0.73,63.5,58.0,5.68,5.72,3.62,8.065,0,0,0,0,1,1,0,0,0,0,1,0
40453,40453,0.31,56.9,59.0,4.45,4.48,2.54,6.629,1,0,0,0,0,1,0,0,0,0,0,1
40454,40454,0.33,60.2,57.0,4.50,4.54,2.72,6.361,0,0,1,0,0,0,1,0,0,0,1,0

In [43]:
five.to_csv('../data/train_clean.csv')